SUBSYSTEMS=="usb", DRIVERS!="snd-usb-audio", ATTRS{bInterfaceClass}!="01", GOTO="MIDICONTROL_END"
ACTION=="add", DRIVERS=="usb" TAG+="systemd", ENV{SYSTEMD_USER_WANTS}="midicontrol@$attr{idVendor}:$attr{idProduct}.service"
LABEL="MIDICONTROL_END"
